<%- include('partials/header'); -%>

    <div class="b-example-divider"></div>

    <div class="container postBoxes">
        <div class="d-flex bd-highlight">
            <div class="p-2 my-4 flex-grow-1 bd-highlight">
                <h1 class="display-4">About Us!</h1>
                <p>
                    <%= aboutUsText %>
                </p>
            </div>
        </div>
    </div>

    <%- include('partials/footer'); -%>