<%- include('partials/header'); -%>

    <div class="b-example-divider"></div>

    <div class="container">

        <div class="row">
            <div class="col"></div>
            <div class="col-5">
                <h1 class="display-4">Compose</h1>

                <form method="post" action="/compose">
                    <div class="mb-3">
                        <label for="postTitle" class="form-label">Title</label>
                        <input type="text" class="form-control" id="postTitle" name="postTitle">
                    </div>

                    <div class="mb-3">
                        <label for="postCategory" class="form-label">Category</label>
                        <input type="text" class="form-control" id="postCategory" name="postCategory">
                    </div>

                    <div class="mb-3">
                        <label for="postBody" class="form-label">Post</label>
                        <textarea class="form-control" id="postBody" name="postBody" rows="6"></textarea>
                    </div>

                    <div class="pt-4">
                    <button type="submit" class="btn btn-outline-success me-4 postBtn">Publish</button>
                    <a href="/" class="btn btn-danger postBtn">Cancel</a>
                    </div>

                </form>

            </div>
            <div class="col"></div>
        </div>

    </div>

    <%- include('partials/footer'); -%>